@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fonte-principal: "Inter", sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    background: #7c7c91;
    background: linear-gradient(235deg, rgba(12, 12, 125, 1) 0%, rgba(5, 3, 51, 1) 71%, rgba(1, 1, 33, 1) 100%);
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: center;
    align-items: center;
}

#login{
    background-color: #c2c8fd;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border: 3px solid #3f47ff;
    width: 320px;
    text-align: left;
}

h2{
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
}

label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid darkblue;
    border-radius: 5px;
}

input:focus{
    border-color: #2575fc;
    outline: none;
}

.senha-wrapper {
  position: relative;
  width: 100%;
}

.senha-wrapper input {
  width: 100%;
  padding: 8px;
  padding-right: 40px; /* espaï¿½o pro olho */
  border: 1px solid darkblue;
  border-radius: 5px;
  box-sizing: border-box;
}

.toggle-senha {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-15%); /* centraliza certinho no meio */
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  color: #333;
  background: none;
  border: none;
  padding: 0;
}

.erro{
    font-size: 12px;
}

button{
    width: 50%;
    display: block;
    margin: auto;
    padding: 5px;
    color: white;
    background-color: #4466ff;
    border-radius: 5px;
    border: 1px solid darkblue;
}

.switch{
    display: flex;
    align-items: center;
    justify-content: center;
}
